In [8]:
import pandas as pd
import datetime
import time
DATA = "/Users/ken/west/master/task_server/data"

In [15]:
import json

r = []
with open(DATA + "/http_record.json") as f:
    for l in f:
        r.append(json.loads(l))  


http_df = pd.DataFrame.from_dict(r)
http_df.timestamp = http_df.timestamp.map(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d %H:%M:%S"))

In [51]:
day1 = http_df[(datetime.date(2015,6,10) < http_df.timestamp) & (http_df.timestamp < datetime.date(2015,6,11))]
day2 = http_df[(datetime.date(2015,6,11) < http_df.timestamp) & (http_df.timestamp < datetime.date(2015,6,12))]
day3 = http_df[(datetime.date(2015,6,12) < http_df.timestamp) & (http_df.timestamp < datetime.date(2015,6,13))]

In [54]:
day2.describe()

       dst_port      src_port
count      9055   9055.000000
mean         80  50325.932413
std           0  12650.365022
min          80   1092.000000
25%          80  48725.000000
50%          80  52860.000000
75%          80  58357.000000
max          80  65534.000000

In [55]:
http_df.describe()

       dst_port      src_port
count     11561  11561.000000
mean         80  50511.018943
std           0  12678.767050
min          80   1064.000000
25%          80  49319.000000
50%          80  52952.000000
75%          80  58354.000000
max          80  65534.000000